# URL do Google Apps Script implantado como aplicativo web
# Veja google-apps-script.js para instruções de como gerar essa URL
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxgPJkT3cufDVTnkO-1QPYBJEWrchvqK21-8pKgyDL7xDRREi_d7R0Wjl--OTsA54G_/exec

# Número do WhatsApp para receber as mensagens de interesse
# Formato: código do país + DDD + número (sem + ou espaços)
NEXT_PUBLIC_WHATSAPP_NUMBER=5511999999999
